.flight-container{
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    padding-bottom: 30px;
}
.create-flight-table{
    margin-left: 30px;
}
.head-component{
    padding-top: 20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#search-text{
    font-size: 17px;
    
}
#btnCreate{
    color: white;
    background-color: #FF8000;
    border: none;
    padding: 10px;
    border-radius: 8px;
}
#btnCreate:hover{
    background-color: #ffbb77;
}
<<<<<<< HEAD
.create-flight-table, .create-flight-table tr, .create-flight-table th, .create-flight-table td{
    border: solid black 1px;
    border-collapse: collapse;
}
.create-flight-table{
    width: 1100px;
    table-layout: fixed;
}
.create-flight-table th{
    padding: 10px;
}
.create-flight-table th:nth-child(1){
    width: 130px;
}
.create-flight-table th:nth-child(2){
    width: 400px;
}
.create-flight-table th:nth-child(3){
    width: 185px;
}
.create-flight-table th:nth-child(4){
    width: 185px;
}
.create-flight-table th:nth-child(5){
    width: 200px;
}
.create-flight-table td div button{
=======
.createfly table, tr, th, td{
    border: solid black 1px;
    border-collapse: collapse;
}
.createfly table{
    width: 1100px;
    table-layout: fixed;
}
.createfly th{
    padding: 10px;
}
.createfly th:nth-child(1){
    width: 130px;
}
.createfly th:nth-child(2){
    width: 400px;
}
.createfly th:nth-child(3){
    width: 185px;
}
.createfly th:nth-child(4){
    width: 185px;
}
.createfly th:nth-child(5){
    width: 200px;
}
.createfly td div button{
>>>>>>> a412e57440f865e6feda077e8e995f1353a6df38
    background-color: #FF8000;
    border: none;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
}
<<<<<<< HEAD
.create-flight-table td div button:hover{
    background-color: #bb9166;
}
.create-flight-table td{
=======
.createfly td div button:hover{
    background-color: #bb9166;
}
.createfly td{
>>>>>>> a412e57440f865e6feda077e8e995f1353a6df38
    padding: 10px;
}
#flight-info{
    text-align: left;
    padding-left: 20px;
}