body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.booking h1{
    font-weight: 600;
}
.booking h2{
    font-weight: 500;
}
.booking p{
    font-size: 14px;
}
.booking{
    margin-left: 100px;
}

.booking form{
    margin-right: 36%;
    padding: 10px;
    background-color: white;
    box-shadow: 3px 3px 7px grey;
    border-radius: 10px;
}

.bookinfo{
    width: 100%;
    border-collapse: collapse;
}
.bookinfo tr, td, th{
    border: none;
}
.bookinfo th{
    border-bottom: 1px solid grey;
}

.booktitle{
    text-align: left;
    width: 210px;
}
.booktitlelong{
    text-align: left;
    width: 350px;
}

.bookfix{
    text-align: right;
}
.bookfixbttn{
    border: none;
    background-color: white;
    margin-bottom: 2px;
    font: bold;
    color: blue;
}
.note{
    margin-top: 3px;
    font-size: 12px;
    color: grey;
}

.bookconfirm{
    margin-left: 43%;
    padding-bottom: 100px;
}
.bookconfirm a:link, a:visited{
    padding: 15px 80px 15px 80px;
    background-color: orangered;
    border: 2px solid orangered;
    border-radius: 5px;
    color: white;
    text-align: center;
}

#xungnhat{
    margin-left: 10px;
}