body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.booking h1{
    padding-top: 10px;
    font-weight: 650;
    font-size: 27px;
}
.booking h2{
    font-weight: 700;
    font-size: 21px;
    padding-top: 20px;
}
.booking p:nth-child(1){
    font-size: 16px;
}
.booking{
    margin-left: 250px;
}
.personinfo{
    float: left;
    width: 630px;
}
.flightsimple{
    float: left;
    width: 300px;
}

.booking form{
    padding: 15px;
    background-color: white;
    box-shadow: 3px 3px 7px gainsboro;
    border-radius: 10px;
}

.bookinfo{
    width: 100%;
    border-collapse: collapse;
}
.bookinfo tr, .bookinfo td, .bookinfo th{
    border: none;
}
.bookinfo th{
    border-bottom: 1px solid gainsboro;
}
.bookinfo th:nth-child(1){
    padding-bottom: 12px;
}
.bookinfo td{
    vertical-align: top;
    width: 50%
}

.booktitle{
    text-align: left;
    width: 210px;
}
.booktitlelong{
    text-align: left;
    width: 350px;
}
.booktitlelong div{
    margin-right: -100px;
}

.bookfix{
    text-align: right;
    vertical-align: top;
}
.bookfixbttn{
    border: none;
    background-color: white;
    margin-bottom: 2px;
    font: bold;
    color: #0199F4;
}
.booking input{
    border: 2px solid gainsboro;
    border-radius: 4px;
    width: 290px;
}
.booking select{
    border: 2px solid gainsboro;
    border-radius: 4px;
    width: 100px;
}
.booking label{
    font-weight: 550;
}
.note{
    margin-top: 3px;
    font-size: 12px;
    color: grey;
}

.bookconfirm{
    text-align: right;
    padding-bottom: 100px;
}
.bookconfirm a:link, .bookconfirm a:visited{
    padding: 15px 80px 15px 80px;
    background-color: #0199F4;
    border: 2px solid #0199F4;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.flightsimple{
    padding-top: 174px;
    margin-left: 23px;
}

.flightsimple th{
    vertical-align: center;
    padding-bottom: 15px;
}
.flightsimple td{
    padding-top: 13px;
}
.flightsimple th:nth-child(1){
    text-align: left;
}
.flightsimple th:nth-child(2) div{
    padding-left: 11px;
    font-size: 13px;
    color: #0199F4;
}

.flightsimple span{
    font-size: 13px;    
    font-weight: 550;
}
.seatclassnote{
    margin-top: -5px;
    padding-bottom: 10px;
    font-size: 12px;
    color: grey;
}

.flightnote{
    margin-top: 20px;
}
.flightnote span:nth-child(1){
    color: grey;
}
.flightnote span:nth-child(3){
    color: rgb(12, 164, 12);
}

#xungnhat{
    margin-left: 10px;
}