.vmbbox{
    position: relative;
    top: 70px;
    width: 62%;
    margin: 0px auto;
    z-index: -1;
}
.vmbbox table{
    width: 100%;
}
.vmbbox td:nth-child(1){
    width: 13%;
    padding: 0px 10px 20px 10px;
    text-align: center;
    background-color: #30c5f7;
    color: white;
    font-weight: 500;
    box-shadow: 3px 3px 7px grey;
    border-radius: 10px;
}
.findbox{
    z-index: 2;
}