.payment-title{
    width: 65%;
    margin: 30px auto;
    text-shadow :   0.3px 0 0 black;
}
.payment-container{
    width: 65%;
    height: 100px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}
.payment-container-table{
    width: 60%;
    padding-bottom: 40px;
    background-color: white;
    height: 100px;
    margin-right: 18px;
    border-spacing: 0px;
    box-shadow: 1px 2px 8px #bbbbbb;
}
.payment-between{
  height: 30px;

}
.payment-price-detail{
    border-top: 1px solid black;
}
.head-payment-price-detail{
    margin-top: 10px;
}
.payment-container-table tr td{
    padding: 20px;
    padding-bottom: 0px;
}
.payment-price-detail td{
    background-color: #f7f8f9;
    border: none;
}
.payment-container-table tr:nth-child(5) td a{
    margin-top: 10px;
    color: #1c14ee;
    text-shadow :   0.5px 0 0 #1c14ee;
    text-decoration: underline;
}
.payment-container-table tr:nth-child(6) td:nth-child(2){
    display: flex;
    margin: 0px;
    height: 100%;
}
.payment-container-table tr:nth-child(6) td button{
    background-color: #dadada;
    padding: 10px;
    border: none;
    align-self: flex-end;
    color: #b7b4b4;
    width: 80%;
}
.payment-container-table tr td h4{
    text-shadow :   0.5px 0 0 black;
}
.payment-container-table tr td input{
    padding: 7px;
    border: 1.5px solid #d7d7d7;
    width: 100%;
}
.payment-container-table tr td div{
    text-shadow :   0.5px 0 0 black;
}
.payment-container-summary{
    background-color: white;
    width: 35%;
    height: 360px;
    box-shadow: 1px 2px 8px #bbbbbb;
    padding-top: 15px;
}
.payment-container-summary div{
    padding-left: 15px;
    padding-right: 15px;
}
.payment-container-summary div:nth-child(1), .payment-container-summary div:nth-child(9){
    color: #8f8f98;
    font-size: medium;
}
.payment-container-summary > div:nth-child(2){
    text-shadow: 0.5px 0px 0px black;
    font-size: medium;
}
.payment-container-summary > div:nth-child(4){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.payment-container-summary > div:nth-child(4) div:nth-child(2){
    color: #2872c1;
    text-shadow: 0.5px 0px 0px #2872c1;
}
.payment-container-summary > div:nth-child(5){
    text-shadow: 0.5px 0px 0px black;
    margin-top: 10px;
    margin-bottom: 5px;
}
.customer-info{
    padding: 10px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
}
.payment-container-summary > div{
    width: 100%;
}
.payment-price, .payment-price-detail div:nth-child(2){
    background-color: #1c14ee;
}
.btnPay{
    border: none;
    background-color: #f96d01;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}
.btnPay:hover{
    background-color: #ce5a01;
    cursor: pointer;
}
.termcondition a{
    color: #2872c1;
    text-shadow: none;
}
.payment-price-total td{
    border-top: 1.5px solid rgb(162, 162, 162);
}