.findticket{
    position: relative;
    top: 50px;
    margin: 0 150px 0 150px;
}
.findticket form{
    background-color: white;
    padding: 30px;
    box-shadow: 3px 3px 7px grey;
    border-radius: 10px;
}
.findticket label{
    font: bold 12px arial, verdana;
}
.findticket input, select{
    border: 1px solid grey;
    border-radius: 5px;
}