.findticket{
    position: relative;
    top: 50px;
    width: 62%;
    height: 300px;
    margin: 0px auto;
}
.findticket form{
    background-color: white;
    height: 100%;
    padding: 30px;
    box-shadow: 3px 3px 7px grey;
    border-radius: 10px;
}
.find-icon{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}
.findticket-form table{
    width: 100%;
    height: 80%;
}
.findticket-form table td{
    width: 50%;
}
.findticket-form table tr:nth-child(1){
    height: 30%;
}
.findticket-form table tr:nth-child(2){
    height: 30%;
}
.findticket-form table tr:nth-child(3){
    height: 40%;
}
.findticket-form table tr td:nth-child(2){
    margin-left: 10px;
}

.findticket label{
    font: bold 13px arial, verdana;
    font-size: 14px;
    margin-left: 5px;
}
.findticket input, .findticket select{
    border: 1px solid grey;
    border-radius: 5px;
}
.findticket input[type='radio']{
    width: 30px;
    transform: scale(1.8);
}
.findway label{
    padding-right: 20px;
}
.findway-host{
    margin-top: 15px;
    padding-bottom: 20px;
}
.findway-holder div{
    display: inline-block;
}
.findway-holder div select{
    padding:5px;
}
.finddate-holder div{
    display: inline-block;
}
.findway-holder div, .finddate-holder div{
    width: 50%;
}
.findway-holder div select, .finddate-holder div input[type='date']{
    width: 95%;
    padding: 7px;
    padding-left: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.findwayfrom, .findwayto{
    padding-left: 25px;
}

.seatclass, .customerno{
    width: 100%;
    padding-left: 30px;
}
.customerno{
    vertical-align: middle;
    padding-top: 8px;
    height: 38px;
    border: 1px solid #aeb0b1;
    border-radius: 10px;
}
.seatclass{
    padding-top: 10px;
    padding-bottom: 10px;
}
.btnFindticket{
    background-color: #ff5e1f;
    border: none;
    color: white;
    align-self: flex-end;
    padding: 10px;
}
.line-button{
    display: flex;
    justify-content: end;
}
.line-button button{
    border-radius: 10px;
    cursor: pointer;
}
.line-button button:hover{
    background-color: #d84f18;
}
/* modal */
.customer-quantity-modal{
    z-index: 10;
    margin-top: 10px;
    border: 0.5px solid #d3d5d6;
    position: absolute;
    width: 435px;
    border-radius: 4px;
    background-color: white;
    padding: 10px;
}
.quantity-item{
    display: inline-block;
}
.customer-quantity-modal div{
    vertical-align: middle;
    margin-top: 1px;
    display: flex;
    align-items: center;
}
.customer-quantity-modal .quantity-item:nth-child(1){
    width: 5%;
}
.customer-quantity-modal .quantity-item:nth-child(2){
    width: 25%;
}
.customer-quantity-modal .quantity-item:nth-child(3){
    width: 70%;
    display: flex;
    justify-content: right;
}
.btnAdjustQuantity{
    padding: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
}
.quantity-item{
    margin-left: 10px;
    margin-top: 10px;
}
.quantity-item div:nth-child(2){
    font-size: small;
}
.btnDoneQuantity{
    display: flex;
    justify-content: right;
    color: #0194f3;
}
.btnDoneQuantity span{
    cursor: pointer;
}