.modal-background{
    width: 100%;
    height: 100%;
    left: -100px;
    top: 0;
    position:absolute;
    display: flex;
}
.modal-container{
    border: #979797;
    border-width: 2px;
    background-color: rgb(221, 221, 221);
    position: absolute;
    top: 970px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1200px;
    height: 1900px;
    z-index: 100;
}
#title{
    background-color: #FF8000;
    padding: 15px;
    font-size: large;
    color: white;
    font-weight: bold;
}
.table, .tr, .td{
    border: none;
}
.table{
    table-layout: relative;
    margin:0;
    margin-top: 20px;
}
.td input{
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 10px;
    width: 150%;
}
.td div{
    font-weight: bold;
}
.tr{

    text-align: left;
    display: flex;
}
.button-modal button, .button-modal input{
    background-color: #FF8000;
    color: white;
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 10px;
}
.button-modal{
    text-align: right;
    padding-right: 100px;
}
#btnSubmit:hover{
    background-color: #ffb463;
}
#btnCancel:hover{
    background-color: #d6d6d6;
}
.button-modal .cancel{
    background-color: #979797;
}
#input-container{
    position: relative;
}
#input-container span{
    position: absolute;
    width: 300px;
    text-align: right;
    top: 14px;
}