.modal-background{
    width: 100%;
    height: 100%;
    left: -100px;
    top: 0;
    position:absolute;
    display: flex;
}
.modal-container{
    background-color: white;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1200px;
    height: 600px;
}
#title{
    background-color: #FF8000;
    padding: 15px;
    font-size: large;
    color: white;
    font-weight: bold;
}
.table, .tr, .td{
    border: none;
}
.table{
    table-layout: relative;
    margin:0;
    margin-top: 20px;
}
.td input{
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 10px;
    width: 150%;
}
.td div{
    font-weight: bold;
}
.tr{
    justify-content: space-around;
    text-align: left;
    display: flex;
}
.button-modal button{
    background-color: #FF8000;
    color: white;
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 10px;
}
.button-modal{
    text-align: right;
    padding-right: 100px;
}
.button-modal .cancel{
    background-color: #979797;
}