#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
    background-color: black;
    color: white;
    text-align: center;
 }
table{
    margin: 50px;
    display: inline-block;
}