#sub-header {
    width: 30%;
    top: 50%;
    left: 50%;
}
#left{
    width: 10%;
}
#header{
    display: flex;
    flex-direction: row;
    width: 100%;
    orientation: landscape;
    position:sticky;
    z-index: 9000;
}